 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Inter", sans-serif;
 }

 body {
     margin: 20px 0;
 }

 header {
     width: 60%;
     max-width: 100%;
     margin: auto;
     display: flex;
     justify-content: space-between;
     background: #f3f3f3;
     padding: 20px;
     border-radius: 30px;

     div {
         font-size: 24px;
         font-weight: 600;
     }

     nav {
         display: flex;
         gap: 18px;
         align-items: center;

         a {
             text-decoration: none;
             color: gray;
             transition: color ease .3s;

             &:hover {
                 color: #000;
             }
         }
     }
 }

 main {
     width: 60%;
     max-width: 100%;
     margin: auto;

     section {
         padding-top: 50px;

         div {
             border: 1px solid #000;
             padding: 20px;
             border-radius: 30px;
             box-shadow: 0 15px 0 #000;

             h1 {
                 padding-bottom: 15px;
             }
         }
     }
 }