<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Maquinarias - Arriendo y Venta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/maquinarias.css}">
</head>
<body>

<div class="header">
    <h1>Maquinarias</h1>
    <div class="nav">
        <a href="/maquinarias">Maquinarias</a>
        <form th:action="@{/logout}" method="post" style="display: inline;">
    <button type="submit" class="logout-link-button">
        Salir
    </button>
</form>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Buscar maquinaria...">
        <button>Buscar</button>
    </div>
</div>

<main>
        <section>
            <div>
                <div xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
                    <h1 sec:authorize="isAuthenticated()" th:text="'Bienvenido, ' + ${#authentication.name}">Bienvenido</h1>
                    <h1 sec:authorize="!isAuthenticated()">Bienvenido a maquinaria MMR</h1>
                </div>
                <p>Donde comprar nunca fue más facil</p>

            </div>
        </section>
    </main>
</body>
</html>
