<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Maquinarias - Arriendo y Venta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
    <header>
        <div>Maquinaria MMR</div>
        <nav>
            <a href="#">Inicio</a>
            <a href="/login">Ingresar</a>
        </nav>
    </header>

    <main>
        <section>
            <div>
                <h1>Bienvenido a maquinaria MMR</h1>
                <p>Donde comprar nunca fue más facil</p>

            </div>
        </section>
    </main>
</body>
</html>